.subcategory {
    background-color: #dce3ed;
    text-align: left;
    padding: 15px;
    font-size: 1.1em;
    margin: 7px;
    border-radius: 5px;
    color: #3c3c3c;
}

.subcategory:hover {
    cursor: pointer;
}

.subcategory-container {
    float: left;
    width: 30%;
}

.subcategory-selected {
    color: #fff;
    background-color: #132c6c;
}

.subcategories-title {
    border-bottom: 5px solid #020231;
    padding-bottom: 20px; 
}